$theme-color: #00828f;
$highlight-color: #00c7db;
$action-color: #e47a77;

$panel-z-index: 1;
$panel-btn-z-index: 100;

$title-color: #062735;
@mixin title($size) {
  font-size: zoom($size);
  font-weight: 600;
  color: $title-color;
}

$subtitle-color: #757575;
@mixin subtitle($size) {
  font-size: zoom($size);
  font-weight: bold;
  color: $subtitle-color;
}

$text-color: #757575;
$disabled-color: #e3e3e3;
$bg-color: #fafafa;

$label-background-color: #00c7db;
$label-text-color: white;

$panel-background-color: white;
$panel-border-color: #eaeaea;
$panel-text-color: #757575;

$action-btn-shadow: 0 1px 3.5px 0 rgba(0, 0, 0, 0.2);

$profile-name-color: #4a4a4a;
$profile-text-color: #757575;
$profile-divider-color: #d5d5d5;

$project-name-color: #4a4a4a;
$project-info-name-color: #4a4a4a;
$project-info-title-color: #9e9e9e;
$project-info-text-color: #757575;
$project-divider-color: #d5d5d5;

$aqua-blue: #00c7db;
.bg-aqua-blue {
  background-color: $aqua-blue;
  color: #ffffff;
}
$peach: #e47a77;
.bg-peach {
  background-color: $peach;
  color: #ffffff;
}

@function zoom($some-number){
  @return $some-number * 130 / 70
}

$random-colors-array: #8ffd78, #27ecfd, #fb9505, #000000, #f85bc2, #2153ea, #fb2b69, #fafcfb, #f7f7f7, #1d77ef, #d6cec3, #55efcb, #ffdc38, #ff8c00, #12a7eb, #5ad427, #c86edf, #dedede, #ff5e3a, #ff9500, #ffdb4c, #87fc70, #52edc7, #1ad6fd, #c644fc, #ef4db6, #4a4a4a, #dbddde;

@function random-color(){
  @return nth($colors, random(length($colors)));
}


$sm-size   : 768px !default;
$md-size   : 992px !default;
$lg-size  : 1200px !default;

@mixin sm-only {
  @media (max-width : $sm-size) {
    @content;
  }
}
